.card-title{
    text-align: center;
}

.card-text{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

.card{
    &:hover{
        transform: scale(1.1);
        transition: 1s;
    }
}

.logo{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}
